@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    /* GREYSCALE */
    --clr-heading-dark: #080F19;
    --clr-navigation: #33354D;
    --clr-body-text: #565973;
    --clr-muted-text: #9397AD;
    --clr-input-placeholder: #B4B7C9;
    --clr-forms-border: #D4D7E5;
    --clr-divider-border: #E2E5F1;
    --clr-secondary: #EFF2FC;
    --clr-light-bg: #D9D9D9;

    --clr-white: #FFFFFF;
    --clr-black: #000000;

    /* BRAND */
    --clr-primary: #6366F1;
    --clr-gradient: linear-gradient(to right, #6366F1, #8B5CF6 50%, #D946EF);

    /* SYSTEM */
    --clr-error: #EF4444;
    --clr-success: #22C55E;
    --clr-warning: #FFBA08;
    --clr-info: #4C82F7;

    /* SHADOWS */
    --clr-shadow: #131022;
    --clr-brand-btn: #6366F1;
    --clr-shadow-secondary: #EFF2FC;




    --container-padding: 1rem;
    --transition-time: all 0.2s;
}

* {
    /*margin: 0;
    padding: 0;*/
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    max-width: 100vw;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: hsl(0, 0%, 20%);
}


/* CHAT GPT HJÄLP MED MAX WIDTH FÖR DESKTOP */
section {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}
/* SLUT CHATGPT */

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

/* Utility classes ? */

.mtd-text {
    color: var(--clr-muted-text);
}

.hidden {
    display: none;
}

/* --------------- */

.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--clr-primary);
    text-decoration: none;
}

a:hover {
    color: var(--clr-primary);
    text-decoration: underline;
}

.btn-primary {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-primary:hover {
    opacity: 0.85;
    text-decoration: none;
}

.btn-primary i {
    margin-right: 0.5rem;
}

.btn-download-app {
    background-color: var(--clr-black);
    color: var(--clr-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-download-app:hover {
    opacity: 0.85;
    text-decoration: none;
}

.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-toggle-switch .label {
    display: none;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
}

.toggle-switch input:checked + .slider {
    background-color: var(--clr-primary);
}

.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--clr-primary)
}


.toggle-switch input:checked + .slider:before {
    transform: translateX(18px);
    background-color: var(--clr-white);
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-navigation);
    transition: all 0.2s;
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--clr-white);
    transition: all 0.2s;
}

.toggle-switch .slider.round {
    border-radius: 35px;
}

.toggle-switch .slider.round:before {
    border-radius: 50%;
}

.navbar {
    display: none;
}

.nav-link {
    color: var(--clr-navigation);
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--clr-primary);
    text-decoration: underline;
}

.active {
    color: var(--clr-primary);
    text-decoration: underline;
}

#auth-signin {
    display: none;
}

header .container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}















footer {
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--clr-muted-text);

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    .copyright {

    }

    .credit {
        display: none;
    }
}

#brands {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container {
        display: none;
    }

    .headline h2 {
        color: var(--clr-black);
        font-size: 40px;
        font-weight: 900;
        margin-bottom: .5rem;
    }

    .container-2 {
        width: 100%;
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);
        margin-left: auto;
        margin-right: auto;
    }

    .features {
        text-align: center;

        h2 {
            color: #131022;
            font-size: 28px;
            font-weight: 900;
        }

        p {
            color: #585C7B;
            font-size: 18px;
            font-weight: 400;
        }
    }

    .headline h2 {
        margin-top: 0;
    }

    .images {
        grid-area: images;
    }

    .features {
        grid-area: features;
    }

    h5 {
        color: var(--clr-black);
        font-size: 20px;
        font-weight: 900;
        margin-bottom: .5rem;
    }

    .icon-text {
        color: var(--clr-body-text);
        margin-bottom: 0;
    }

    .icon-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .icon-image {
        display: grid;
        gap: .5rem;
        align-items: center;
        padding-top: 2rem;
    }

    .icon-image img {
        grid-column: 1;
    }

    .icon-text-content {
        grid-column: 2;
        padding-left: .5rem;
    }

    .icon-text {
        color: var(--clr-body-text);
    }

    @media (min-width: 768px) {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            margin-bottom: 6rem;
        }

        .container-2 {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "images features features";
            padding-left: var(--container-padding);
            padding-right: var(--container-padding);
            margin-left: auto;
            margin-right: auto;
        }

        .icon-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .container-2 {
            display: flex;
        }

        .headline{
            text-align: center;
        }
    }

    @media (min-width: 1400px) {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            margin-bottom: 6rem;
        }

        .container-2 {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "images features features";
            padding-left: var(--container-padding);
            padding-right: var(--container-padding);
            margin-left: auto;
            margin-right: auto;
        }

        .icon-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .hidden {
            display: block;
        }

        .container-2 {
            display: grid;
        }
    }

}

.brand-box {
    border: 1px solid var(--clr-divider-border);
    border-radius: 8px;
    padding: 2rem;
    height: 75px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 768px) {

    .container {
        max-width: 720px;
    }

    .btn-toggle-switch .label {
        display: block;
    }

    header .container {
        gap: 3rem;
    }

    footer {
        .credit {
            display: block;
        }
    }

    #brands {
        display: block;
    }

    #brand-1, #brand-2 {
        display: none;
    }

}


@media (min-width: 1400px) {

    .container {
        max-width: 1320px;
    }

    header .container {
        grid-template-columns: auto 1fr auto auto;
        gap: 3rem;
    }

    .navbar {
        display: block;
    }

    #auth-signin {
        display: block;
    }

    .btn-mobile {
        display: none;
    }

    .center-text {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .25rem;
    }

    #brand-1, #brand-2 {
        display: block;
    }

}


#slider {
    background-color: #F3F8FF;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container {
        display: none;
    }

    .bottomline.tablet {
        display: none;
    }

    .bottomline.desktop {
        display: none;
    }

    .headline h2 {
        color: #131022;
        font-size: 28px;
        font-weight: 900;
        text-align: center;
    }

    .container.phone {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottomline.phone {
        text-align: center;
        h3 {
            color: #131022;
            font-size: 22px;
            font-weight: 900;
        }

        p {
            color: #585C7B;
            font-size: 16px;
            font-weight: 400;
        }
    }

    @media (min-width: 768px) {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            margin-bottom: 2rem;
            padding-top: 2rem;
        }

        .container.phone {
            display: none;
        }

        .bottomline.phone {
            display: none;
        }

        .headline h2 {
            color: var(--clr-shadow);
            font-size: 34px;
            font-weight: 900;
            margin-bottom: .5rem;
            text-align: center;
        }

        .img-slider {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .bottomline.tablet {
            display: block;
        }

        .bottomline {
            text-align: center;

            h3 {
                color: var(--clr-shadow);
                font-weight: 900;
                font-size: 22px;
            }

            p{
                color: #585C7B;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }


    @media (min-width: 1400px) {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            margin-bottom: 2rem;
            padding-top: 2rem;
        }

        .container.phone {
            display: none;
        }

        .bottomline.tablet {
            display: none;
        }

        .bottomline.phone {
            display: none;
        }

        .bottomline.desktop {
            display: block;
        }

        .headline h2 {
            color: var(--clr-black);
            font-size: 40px;
            font-weight: 900;
            margin-bottom: .5rem;
            text-align: center;
        }



        .bottomline {
            text-align: center;
            h3 {
                color: var(--clr-black);
                font-weight: 900;
                font-size: 24px;
            }

            p{
                color: var(--clr-body-text);
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

}



#hero {
    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.09962487910721463) 0%, rgba(218,70,239,0.054608801936796625) 42%, rgba(241,244,253,0.06747053827120175) 83%);
    padding-bottom: 2rem;

    overflow: hidden;

    @media (min-width: 768px) {
        padding-bottom: 0;
    }

    .container {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-areas:
        "headline"
        "content";

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "headline headline"
            "content images";
        }

        @media (min-width: 1400px) {
            grid-template-columns: 2fr 3fr;
            grid-template-areas:
            "headline images"
            "content images";
        }
    }

    .headline {
        grid-area: headline;
        text-align: center;

        h1 {
            font-size: 34px;
            font-weight: 800;

            @media (min-width: 768px) {
                font-size: 56px;
                font-weight: 800;
            }

            @media (min-width: 1400px) {
                text-align: center;
            }
        }
    }

    .content {
        grid-area: content;
        text-align: center;

        @media (min-width:768px) {
            text-align: left;
        }

        p {
            font-size: 18px;
            margin-bottom: 3rem;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @media (min-width:1400px) {
                flex-direction: row;
            }
        }

        .discover-more {
            color: var(--clr-black);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-top: 2rem;

            @media (min-width:768px) {
                justify-content: flex-start;
                margin-bottom: 2rem;
            }

            @media (min-width:1400px) {
                margin-top: 10rem;
            }
        }
    }

    .images {
        position: relative;
        grid-area: images;
        display: none;

        @media (min-width: 768px) {
            display: block;
        }

        .img-back {
            position: absolute;
            z-index: -10;
            bottom: 0;
            right: 0;
            right: 100px;
            width: 70%;
            height: auto;

            @media (min-width: 1400px) {
                bottom: -100px;
                width: auto;
                right: 230px;
            }
        }

        .img-front {
            position: absolute;
            z-index: -5;
            bottom: 0;
            right: 0;
            width: 70%;
            height: auto;

            @media (min-width: 1400px) {
                bottom: -100px;
                width: auto;
            }
        }
    }
}